[alias]
st = status
ci = commit -a
br = branch --color
co = checkout
di = diff --color
lg = log -p
tree = log --graph --pretty=oneline --abbrev-commit --decorate

[color]
status = auto

[user]
email = hirafoo@cpan.org
name = hirafoo

[core]
excludesfile = /home/hirafoo/.gitignore
