[alias]
st = status
ci = commit -a
br = branch
co = checkout
di = diff
in = remote -v
pu = pull
lg = log -p
tree = log --graph --pretty=oneline --abbrev-commit --decorate
graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%cn] %Cgreen%d%Creset %s\" --all --date=short
delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %

[color]
diff = auto
status = auto
branch = auto
interactive = auto

[user]
email = hirafoo@cpan.org
name = hirafoo

[core]
excludesfile = /home/hirafoo/.gitignore

[log]
date = iso

[push]
default = current

[http]
sslVerify = false
