[alias]
st = status
ci = commit -a
br = branch
co = checkout
di = diff
lg = log -p
tree = log --graph --pretty=oneline --abbrev-commit --decorate

[color]
diff = auto
status = auto
branch = auto
interactive = auto

[user]
email = hirafoo@cpan.org
name = hirafoo

[core]
excludesfile = /home/hirafoo/.gitignore
